 body{
             background-image: url("images/abs.jpg");
             background-size: 105%;
            padding: 0;
            margin: 0;
            font-family: Verdana, sans-serif;
        }
        
.logo{
            position: fixed;
            left:20px;
            padding-right: 10px;
            top: 20px;
    
}

.home{
    position: fixed;
            left: 80px;
            top: 100px;
    
}
        
        
      
.wrapper{
            background: #e6f2ff;
            width: 800px;
            margin: 0 auto;
            border: 3px solid #0c67af;
            position: relative;
        }
        
header{
            background: #05477b;
            color: #e9f5fe;
            position: relative;
            width: 800px;
            border-bottom: 1px solid #0c67af;
        
        }
        
header h1{
            margin: 0;
            padding: 70px;
            text-align:center;
            font-size:50px;
}

header h2{  margin: 0;
            padding: 15px;
            padding-left: 450px;
            font-size:35px;
            
}
footer{
            clear: both;
        }

.left{
            box-sizing: border-box;
            float: left;
            width: 200px;
            border-right: 3px solid #0c67af;
            padding-top:10px;
            min-height: 245px;
            font-size:13px;  
}

.frame{
        width: 800px;
        border-top:3px solid #0c67af;


}

.content{
            box-sizing: border-box;
            float: right;
            width: 600px;
            padding: 20px;
            min-height: 165px;
            text-align: center;
            font-size:17px; 

}

footer{
           background: #05477b;
            color: #e9f5fe;
            padding: 10px;
            font-size: 10px;
            text-align: center;
            border-top: 3px solid #0c67af;
        }
a.source{
    color: #e9f5fe;
}
        
.film{
            padding-top: 20px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom:20px;
}

.film h2{
    padding-left:45px;
    padding-bottom:1px;
    font-size: 23px;
}



table td.atribute{
                  font-weight: bold;
                  vertical-align: top; 
                  text-align: left;
}


.banner{
           box-sizing: border-box;
           float: left;
            padding-top:14px;
            padding-left :20px;
            padding-right:15px;
            

}

.description{
           min-height: 350px;
           border-bottom: 3px solid #0c67af;
    
}

.wishTable{
    outline: #0c67af solid 5px;
}


table, th, td {
	    padding: 5px;
	    text-align: justify;
	    font-size: 15px;
	    
	}
	
	
.series{
	        padding-top: 20px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom:20px;
	}
	
.series h2{
    padding-left:10px;
    padding-bottom:1px;
    font-size: 23px;
	}
	


.bannerS{
            box-sizing: border-box;
            float: right;
            padding-top:14px;
            padding-left :20px;
            padding-right:15px;

}

.wish{
            padding-top: 0px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom:20px;  
}

.wish table{
    
        padding-left: 90px;
        padding-right:90px;
        padding-top:10px;
        padding-bottom:15px;
	    text-align: justify;
}

.wish h2{
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 23px;
}

.bannerwish{
    position:relative;
    padding-left:265px;
    padding-bottom:25px;
    padding-top:20px;
    
}

.watch{
            padding-top: 20px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom:20px;
            text-align: justify;
            border-bottom: 3px solid #0c67af;
            min-height: 100px;
            font-size:15px;
            text-indent: 20px;
}

.watch h2{
    position:relative;
    padding-left:300px;
}

.imdb{
    float: left;
    padding-left: 180px;
    padding-top:80px;
    padding-right: 15px;
    padding-bottom:100px;
}


.wiki{
    float:left;
    padding-left: 40px;
    padding-top: 70px;
    padding-right: 5px;
    padding-bottom:30px;
}

.csfd{
    float: left;
    padding-left: 35px;
    padding-top: 90px;
    padding-right: 15px;
    padding-bottom:30px;
}


















@media screen and (max-width: 1200px) {
.logo img{
             position: absolute;
            left:10px;
            padding-right: 10px;
            top: 20px;
    
}

.home{
    position: absolute;
            left: 85px;
            top: 120px;
    
}
        
        
      
.wrapper{
            background: #e6f2ff;
            width: 600px;
            margin: 0 auto;
            border: 3px solid #0c67af;
            position: relative;
        }
        
header{
            background: #05477b;
            color: #e9f5fe;
            position: relative;
            width: 600px;
            border-bottom: 1px solid #0c67af;
        
        }
        
header h1{
            margin: 0;
            padding: 70px;
            text-align:center;
            font-size:30px;
}

header h2{  margin: 0;
            padding: 15px;
            padding-left: 325px;
            font-size:15px;
            
}
footer{
            clear: both;
        }

.left{
            box-sizing: border-box;
            float: left;
            width: 100px;
            border-right: 3px solid #0c67af;
            min-height: 200px;
            font-size:8px;
            text-align:justify;
            padding: 3px;
}

.frame{
        width: 600px;
        border-top:3px solid #0c67af;
        min-height: 200px;

}

.content{
            box-sizing: border-box;
            float: right;
            width: 500px;
            padding: 20px;
            min-height: 200px;
            text-align: center;
            font-size:13px; 

}


footer{
           background: #05477b;
            color: #e9f5fe;
            padding: 10px;
            font-size: 10px;
            text-align: center;
            border-top: 1px solid #0c67af;
        }
        
 a.source{
    color: #e9f5fe;
}
        
.film{
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom:20px;
}

.film h2{
    padding-left:45px;
    padding-bottom:1px;
    font-size: 15px;
}



table td.atribute{
                  font-weight: bold;
                  vertical-align: top; 
                  text-align: left;
}


.banner{
           box-sizing: border-box;
           float: left;
            padding-top:14px;
            padding-left :20px;
            padding-right:15px;

}

.description{
           min-height: 350px;
           border-bottom: 3px solid #0c67af;
    
}

.wishTable{
    outline: #0c67af solid 5px;
}


table, th, td {
	    padding: 5px;
	    text-align: justify;
	    font-size: 10px;
	    
	}
	
	
.series{
	        padding-top: 10px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom:20px;
	}
	
.series h2{
    padding-left:10px;
    padding-bottom:1px;
    font-size: 15px;
	}
	


.bannerS{
            box-sizing: border-box;
            float: right;
            padding-top:14px;
            padding-left :20px;
            padding-right:15px;

}

.wish{
            padding-top: 0px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom:20px;  
}

.wish table{
    
        padding-left: 90px;
        padding-right:90px;
        padding-top:10px;
        padding-bottom:15px;
	    text-align: justify;
}

.wish h2{
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 15px;
}

.bannerwish{
    position:relative;
    padding-left:170px;
    padding-bottom:25px;
    padding-top:20px;
    
}

.watch{
            padding-top: 20px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom:20px;
            text-align: justify;
            border-bottom: 3px solid #0c67af;
            min-height: 100px;
            font-size:12px;
            text-indent: 20px;
}

.watch h2{
    position:relative;
    padding-left:180px;

}

.imdb{
    float: left;
    padding-left: 80px;
    padding-top:80px;
    padding-right: 15px;
    padding-bottom:100px;
}


.wiki{
    float:left;
    padding-left: 40px;
    padding-top: 70px;
    padding-right: 5px;
    padding-bottom:30px;
}

.csfd{
    float: left;
    padding-left: 35px;
    padding-top: 90px;
    padding-right: 15px;
    padding-bottom:30px;
}


}

@media print {
    .wish{
        padding-top: 150px;
        padding-bottom: 170px;
    }
}
